@model Volkov_HW_ASP_3.Models.Film

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add film</h1>

<hr />

<div class="box2">
    <form asp-action="Create" enctype="multipart/form-data" class="template">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProducerID"></label>
            <select asp-for="ProducerID" asp-items="ViewBag.ProducerID"></select>
            <span asp-validation-for="ProducerID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GenreID"></label>
            <select asp-for="GenreID" asp-items="ViewBag.GenreID"></select>
            <span asp-validation-for="GenreID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Year"></label>
            <input asp-for="Year" type="number" />
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Poster"></label>
            <input asp-for="Poster" type="file" class="form-control" name="uploadedFile" value="Model.Poster" />
            <span asp-validation-for="Poster" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="butt"/>
            <a asp-action="Index" class="back">Обратно к списку</a>
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
