body {
    margin: 15px;
    background: silver;
}

.box {
    display: flex;
    background: white;
    gap: 25px;
    padding: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 25px
}

.box img{
    width: 150px;
}

a {
    padding: 10px;
    background: whitesmoke;
    border-radius: 15px;
    border: 1px solid gray;
    text-decoration: none;
    color: black;
}

a:hover{
    background: #e5e5e5;
    transition: 0.2s;
    color: black;
}

a:active {
    background: #b0b0b0;
}

.butt {
    padding: 8px;
    background: whitesmoke;
    border-radius: 15px;
    border: 1px solid gray;
    text-decoration: none;
    color: black;
    min-width: 75px;
}

.butt:hover {
    background: #e5e5e5;
    transition: 0.2s;
    color: black;
}

.butt:active {
    background: #b0b0b0;
}

.template{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.template .form-group {
    display: flex;
    flex-direction: column;
    width:100%;
}

.template .form-group input{
    border: 1px solid gray;
    border-radius: 15px;
    padding: 5px;
}

.template .form-group select {
    border: 1px solid gray;
    border-radius: 15px;
    padding: 5px;
}

.box2 {
    display: flex;
    background: white;
    gap: 25px;
    padding: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 25px;
    width: 35%;
    justify-content: center;
    margin:auto;
    min-width: 260px;
}

.box2 img {
    width: 150px;
}

.back {
    margin-top: 10px;
    padding: 5px;
    background: whitesmoke;
    border-radius: 15px;
    border: 1px solid gray;
    text-decoration: none;
    color: black;
    min-width: 75px;
    text-align: center;
}

.back:hover {
    background: #e5e5e5;
    transition: 0.2s;
    color: black;
}

.back:active {
    background: #b0b0b0;
}

.image-info {
    margin: auto;
    margin-bottom: 25px;
}

.image{
    margin: auto;
}
